<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
</nav>
<form>
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" name="name" [(ngModel)]="user.name">
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input type="email" name="email" [(ngModel)]="user.email">
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" name="password" [(ngModel)]="user.password">
    </div>
    <div class="form-group">
        <label for="">Role</label>
        <div class="custom-control custom-radio custom-control-inline">
            <input [(ngModel)]="user.role" value="owner" type="radio" id="customRadioInline1"
                name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">Owner</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input [(ngModel)]="user.role" value="tenent" type="radio" id="customRadioInline2"
                name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline2">Tenent</label>
        </div>
    </div>
    <div class="form-group">
        <button type="button" [disabled]="!validateData()" (click)="CreateUser()" class="btn btn-primary">Create</button>
    </div>
    <div class="form-group">
        <button type="button" routerLink="/login" class="btn btn-primary">Login</button>
    </div>
</form> -->

<div class="container-fluid">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <form class="user">
              <div class="form-row">
                <div class="form-group ">
                  <label>first Name</label>
                  <input type="text" name="firstname" [(ngModel)]="user.firstName" class="form-control form-control-user"
                    id="exampleFirstName" placeholder="First Name">
                </div>
                <div class="form-group ">
                  <label>last Name</label>
                  <input type="text" name="lastname" [(ngModel)]="user.lastName" class="form-control form-control-user"
                    id="exampleFirstName" placeholder="Last Name">
                </div>
              </div>
              <div class="form-group">
                <input type="email" name="email" [(ngModel)]="user.email" (keyup)="emailChanged()"
                  (change)="emailChanged()" class="form-control form-control-user" id="exampleInputEmail"
                  placeholder="Email Address">
              </div>
              <div class="form-group">
                <input type="text" name="phone" [(ngModel)]="user.phone" (keyup)="emailChanged()"
                  (change)="emailChanged()" class="form-control form-control-user" id="exampleInputPhone"
                  placeholder="Phone Number">
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input name="password" [(ngModel)]="user.password" type="password"
                    class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                </div>
                <div class="col-sm-6">
                  <input name="cpassword" [(ngModel)]="user.cpassword" type="password"
                    class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                </div>
              </div>
              <h3>Address</h3>
              <div class="form-group">
                <label for="">line 1</label>
                <input type="text" name="address.type.line1" [(ngModel)]="user.address.type.line1">
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label for="">city</label>
                  <input type="text" name="address.type.city" [(ngModel)]="user.address.type.city">
                </div>
                <div class="form-group">
                  <label for="">state</label>
                  <input type="text" name="address.type.state" [(ngModel)]="user.address.type.state">
                </div>
                <div class="form-group">
                  <label for="">country</label>
                  <input type="text" name="address.type.country" [(ngModel)]="user.address.type.country">
                </div>
              </div>
              <div class="form-group">
                <label for="">user pan</label>
                <input type="text" name="pan" [(ngModel)]="user.pan">
              </div>
              <h3>Company Details</h3>
              <div class="form-group">
                <label for="">company name</label>
                <input type="text" name="company.type.name" [(ngModel)]="company.type.name">
              </div>
              <h3>Address</h3>
              <div class="form-group">
                <label for="">line 1</label>
                <input type="text" name="company.type.address.line1" [(ngModel)]="company.type.address.line1">
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label for="">city</label>
                  <input type="text" name="company.type.address.city" [(ngModel)]="company.type.address.city">
                </div>
                <div class="form-group">
                  <label for="">state</label>
                  <input type="text" name="company.type.address.state" [(ngModel)]="company.type.address.state">
                </div>
                <div class="form-group">
                  <label for="">country</label>
                  <input type="text" name="company.type.address.country" [(ngModel)]="company.type.address.country">
                </div>
              </div>
              <div class="form-group">
                <label for="">GSTIN</label>
                <input type="text" name="company.type.address.gstin" [(ngModel)]="company.type.gstin">
              </div>
              <div class="form-group">
                <label for="">PAN</label>
                <input type="text" name="company.type.pan" [(ngModel)]="company.type.pan">
              </div>
              <div *ngIf="errorCodes.length > 0" class="form-group">
                <p style="color: red;" *ngIf="errorCodes.indexOf(11000) != -1"> Email or Phone Already Exist</p>
              </div>
              <button *ngIf="process == 'inactive'" [disabled]="!validateData()" (click)="CreateUser()"
                class="btn btn-primary btn-user btn-block">
                Register Account
              </button>
              <button *ngIf="process == 'active'" [disabled]="'true'" class="btn btn-primary btn-user btn-block">
                Register Account
              </button>
            </form>
            <hr>
            <div class="text-center">
              <a class="small" routerLink="/login">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>